// Place all the styles related to the unitlist controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
	text-align: center;
}

body {
	background-color: #fff; 
	background-image: 
	linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
	linear-gradient(#eee .1em, transparent .1em);
	background-size: 100% 1.2em;
}

.slider {
    position: relative;
    
    background-color: blue;
    height: 250px;
    margin: 10px;
    padding: 10px;
    
    overflow: hidden;
}

.carousel_inner {
//	float: left;
//	width: auto;
//	overflow: hidden;
	
}

.ul {
//	position: relative;
//	left:-210px;
//	width: 9999px;
//	margin: 0px;
}

.ul .li {

//  float: left;
//  width: 200px;

}

.track {
    position: absolute;//absolute allows scrolling inch-by inch the way it was initially done
    top: 10px;
    //left: -270px;
    z-index: 100;
    margin: 0;
    padding: 0;
    border: 0;
	overflow:none;
    #width: 2000px;
	width: auto;
}

.repeatedBlockOfChapters {
	float: left;
	display: inline-block;
	overflow:none;
	width: 2000%
}

.books{
    float: left;
	display: inline-block;
	overflow: none;
   margin: 0;
    margin-right: 10px;
    padding: 0;
    border: 0;
    
   width: 200px;
   height: 250px;
    background-color: gold;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
}

.book{
	font-size: 24px;
}

.book:hover {
    opacity: 0.9;
	
}



.left, .right {
    position: absolute;
    color: white;
    font-size: 111px;
    top: 44px;
    
    cursor: pointer;
    z-index: 1002;
}
.left {
    left: 0;
}
.right {
    right: 0;
}

.floatingOverDiv
{
 overflow: none;
 visibility: hidden;
 
}

.blurb
{
font-size: 13pt;
 border-bottom: thick dotted #ffffff;
}

.bulletDiv {
	font-size: 11pt;
	position: relative;
	
}


.book .bulletDiv {

	visibility: hidden;
	overflow: none;

}





