// Place all the styles related to the unitlist controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
	text-align: center;
}

body {
	background-color: #fff; 
	background-image: 
	linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
	linear-gradient(#eee .1em, transparent .1em);
	background-size: 100% 1.2em;
}

.slider {
    position: relative;
    
    background-color: blue;
    height: 250px;
    margin: 10px;
    padding: 10px;
    
    overflow: hidden;
}

.track {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
    margin: 0;
    padding: 0;
    border: 0;
	overflow:none;
    #width: 2000px;
	width: auto;
}
.repeatedBlockOfChapters {
	float: left;
	display: inline-block;
	overflow:none;
	width: 2000%
}
.books{
	float: left;
    display: inline-block;
	overflow: none;
    margin: 0;
    margin-right: 10px;
    padding: 0;
    border: 0;
    
    width: 200px;
    height: 250px;
    background-color: gold;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
}

ul {clear: both;}

.book{
	font-size: 24px;
	height: 250px;
}

.book:hover {
    opacity: 0.9;
}

.headerBlock {
	    margin-right: auto;
	margin-left: auto;
	text-align: center;
}

/* Derived from http://www.devinrolsen.com/pure-css-horizontal-menu/ */

#pagebody { position: inherit !important; width: 100%; } /* DO NOT EDIT */
#pagebody-inner { position: inherit !important; width: 100%; } /* DO NOT EDIT */

#alpha, #beta, #gamma, #delta {
    display: inline; /* DO NOT EDIT */
    position: inherit !important; /* DO NOT EDIT */
    float: left; /* DO NOT EDIT */
    min-height: 1px; /* DO NOT EDIT */
}

#centernav {
  width: 1000px; /* if you want your nav centered, set this to the width of your container, if you don't want it centered, change this number to 100% */
  margin-left: auto ;
  margin-right: auto ;
  height: 50px;
}

#dropnav 
{height:50px; background:blue;} /* Changes the height and bg color of the main menu */

#dropnav ul
{margin:0px; padding:0px;}

#dropnav ul li
{display:inline; float:left; list-style:none; margin-left:15px; position:relative; height:25px; width: 150px;} /* only edit the last 2 items - sets the width of the main menu */

#dropnav li a
{color:#FFF; text-decoration:none;} /* Changes the link color of items on the main menu */

#dropnav li a:hover
{color:#900; text-decoration:none;}/* Changes the hover color of items on the main menu */

#dropnav li ul
{margin:0px; padding:0px; display:none; position:absolute; left:0px; z-index: 99; top:25px; background-color:blue;} /* Only edit the last 2 items - set the top margin and background color of the submenus */

#dropnav li:hover ul
{display:block; width:150px;} /* sets the width of the submenus */

#dropnav li li
{list-style:none; display:list-item;} /* DO NOT EDIT */

#dropnav li li a
{color:#000; text-decoration:none;} /* Changes the link color of items in the submenu */

#dropnav li li a:hover
{color:#900; text-decoration:none;} /* Changes the hover color of items in the submenu */

li#main  {padding-top: 2px;} /* Sets the padding of items in the main menu */


.header{
	margin: 0;
	display: inline-block;
	float: left;
    margin-right: 10px;
	margin-left: 10px;
    padding: 0;
    border: 0;
	text-align: center;
}

.left, .right {
    position: absolute;
    color: white;
    font-size: 111px;
    top: 44px;
    
    cursor: pointer;
    z-index: 1002;
}
.left {
    left: 0;
}
.right {
    right: 0;
}

.floatingOverDiv
{
 overflow: none;
 visibility: hidden;
 
}

.blurb
{
font-size: 13pt;
line-height: 110%;
 border-bottom: thick dotted #ffffff;
}

.bulletDiv {
	font-size: 11pt;
	line-height: 120%;
	position: relative;
	
}


.book .bulletDiv {

	visibility: hidden;
	overflow: none;

}





