// Place all the styles related to the unitlist controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
	text-align: center;
}
.slider {
    position: relative;
    
    background-color: blue;
    height: 150px;
    margin: 10px;
    padding: 10px;
    
    overflow: hidden;
}

.track {
    position: absolute;
    top: 10px;
    left: 10px;
    
    margin: 0;
    padding: 0;
    border: 0;

    width: 2000px;
}

.book {
    float: left;
    z-index:100;
    margin: 0;
    margin-right: 10px;
    padding: 0;
    border: 0;
    
    width: 150px;
    height: 150px;
    background-color: gold;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
}
.book:hover {
    opacity: 0.9;
}



.left, .right {
    position: absolute;
    color: white;
    font-size: 96px;
    top: 27px;
    
    cursor: pointer;
    z-index: 1;
}
.left {
    left: 0;
}
.right {
    right: 0;
}

.bulletDiv {
	font-size: 9pt;
}

.book .bulletDiv {
	z-index:1001;
	visibility: hidden;

}

.book:hover .bulletDiv {
	visibility: visible;
	z-index:1001;
}

