// Place all the styles related to the unitlist controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
	text-align: center;
}
.slider {
    position: relative;
    
    background-color: blue;
    height: 150px;
    margin: 10px;
    padding: 10px;
    
    #overflow-y: hidden;
}

.track {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
    margin: 0;
    padding: 0;
    border: 0;
	overflow:none;
    #width: 2000px;
	width: auto;
}
.repeatedBlockOfChapters {
	float: left;
	display: inline-block;
	overflow:none;
	width: 2000%
}
.books{
    float: left;
	display: inline-block;
	overflow: none;
    margin: 0;
    margin-right: 10px;
    padding: 0;
    border: 0;
    
    width: 150px;
    height: 150px;
    background-color: gold;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
}
.book:hover {
    opacity: 0.9;
}



.left, .right {
    position: absolute;
    color: white;
    font-size: 96px;
    top: 27px;
    
    cursor: pointer;
    z-index: 1002;
}
.left {
    left: 0;
}
.right {
    right: 0;
}

.floatingOverDiv
{

 position: absolute;
 overflow: none;
  opacity: .9;

}

.bulletDiv {
	font-size: 10pt;
	position: relative;
	
}


.book .bulletDiv {

	visibility: hidden;
	overflow: none;

}

.book:hover .floatingOverDiv{
transition-delay: 0.5s;
 background-color: white;

}

.book:hover .bulletDiv {
	transition-delay: 0.5s;
	visibility: visible;

}

