<div ng-controller="SliderCtrl" >
<div class="books li" ng-repeat="chapter in chapters" >
							<div class="book" ng-controller="ToolTipCtrl">
									{{chapter.title}}
										<div class='floatingOverDiv'>
										<div class='blurb'>
										{{chapter.blurb}}
										</div>
										<div ng-controller='BulletsCtrl' ng-init='init(chapter.id)'>
											<div class='bulletDiv' ng-repeat='bullet in bullets'>
													<a href='http://www.uaf.edu/' > * {{bullet.bullet}}</a>
													<!--a href='{{bullet.link}}' -->
											</div>
											</div>
										
										</div>
</div>
						</div>
</div>