<h1>Unitlist</h1>
<div ng-controller="UnitsCtrl">
<form ng-submit="createUnit()">
  <input type="text" ng-model='newSymbol' placeholder="Enter a symbol">
  <input type="submit" value="Add">
</form>

  <ul>
    <li ng-repeat="unit in units">
      {{unit.title}}
	  <a href = '' ng-click="deleteUnit(unit.id,$index)">Delete</a>
    </li>
  </ul>
</div>