<h1>FYE Manual</h1>
<div ng-controller="UnitsCtrl">


 <div id="centernav">
    <div id="dropnav">
        <ul>

		<div ng-repeat="unit in units">
			<li id="main">
				<a href="#">{{unit.title}}</a>
				<ul id="subnav">
                      <li><a href="#">sub menu item 1</a></li>
                      <li><a href="#">sub menu item 2</a></li>
                      <li><a href="#">sub menu item 3</a></li>
                      <li><a href="#">sub menu item 4</a></li>
                </ul>      
			</li>
	</div>
		

        </ul>    
    </div>
</div>	
	

  <ul>
    <li ng-repeat="unit in units">
    <strong>  {{unit.title}} </strong>
		
		<div class="slider" ng-controller="ChaptersCtrl" ng-init="init(unit.id)">
		<div ng-controller="SliderCtrl">
		    <div id="{{unit.id}}left" ng-controller="LeftCtrl" class="left">&lt;</div>
			<div id="{{unit.id}}right" ng-controller="RightCtrl" class="right">&gt;</div>
			<div class="track" id="{{unit.id}}track">
			
				<!-- <customDirective_InfiniteChapters></customDirective_InfiniteChapters> -->
				<div class="repeatedBlockOfChapters" ng-controller="PositionCtrl">
						<chapter-repeat></chapter-repeat>
				</div>
			</div>


		</div>
		</div>
    </li>
  </ul>
</div>