<h1>FYE Manual</h1>
<div ng-controller="UnitsCtrl">
  <ul>
    <li ng-repeat="unit in units">
    <strong>  {{unit.title}} </strong>
		
		<div class="slider carousel_container" ng-controller="ChaptersCtrl" ng-init="init(unit.id)">
		<div>
		    <div id="left{{unit.id}}" ng-controller="LeftCtrl" class="left">&lt;</div>
			<div id="right{{unit.id}}" ng-controller="RightCtrl" class="right">&gt;</div>
			<div class="track carousel_inner" id="track{{unit.id}}">
			
				<!-- <customDirective_InfiniteChapters></customDirective_InfiniteChapters> -->
				<ul class="repeatedBlockOfChapters ul" ng-controller="PositionCtrl">
						<chapter-repeat></chapter-repeat>
				</ul>
			</div>


		</div>
		</div>
    </li>
  </ul>
</div>