<h1>FYE Manual</h1>
<div ng-controller="UnitsCtrl">
  <ul>
    <li ng-repeat="unit in units">
    <strong>  {{unit.title}} </strong>
		
		<div class="slider" ng-controller="ChaptersCtrl" ng-init="init(unit.id)">
		<div ng-controller="SliderCtrl">
		    <div id="left{{unit.id}}" ng-controller="LeftCtrl" class="left">&lt;</div>
			<div id="right{{unit.id}}" ng-controller="RightCtrl" class="right">&gt;</div>
			<div class="track" id="track{{unit.id}}">
			
				<!-- <customDirective_InfiniteChapters></customDirective_InfiniteChapters> -->
				<div class="repeatedBlockOfChapters">
						<!--<chapter-repeat></chapter-repeat>-->
						
						<div ng-repeat="chapter in chapters">
							<div class="book">{{chapter.title}}
							
									<div ng-controller="BulletsCtrl" ng-init="init(chapter.id)">

										<div class="floatingOverDiv">
											<div class="bulletDiv" ng-repeat="bullet in bullets">
													<a href='http://www.uaf.edu/' > * {{bullet.bullet}}</a>
													<!--a href='{{bullet.link}}' -->
											</div>
										</div>
										
									</div>
						</div>	
						</div>
						<div ng-repeat="chapter in chapters">
							<div class="book">{{chapter.title}}
							
									<div ng-controller="BulletsCtrl" ng-init="init(chapter.id)">

										<div class="floatingOverDiv">
											<div class="bulletDiv" ng-repeat="bullet in bullets">
													<a href='http://www.uaf.edu/' > * {{bullet.bullet}}</a>
													<!--a href='{{bullet.link}}' -->
											</div>
										</div>
										
									</div>
						</div>
							
						</div>
						<div ng-repeat="chapter in chapters">
							<div class="book">{{chapter.title}}
							
									<div ng-controller="BulletsCtrl" ng-init="init(chapter.id)">

										<div class="floatingOverDiv">
											<div class="bulletDiv" ng-repeat="bullet in bullets">
													<a href='http://www.uaf.edu/' > * {{bullet.bullet}}</a>
													<!--a href='{{bullet.link}}' -->
											</div>
										</div>
										
									</div>
						</div>
							
						</div>
				</div>


		</div>
		</div>
		</div>
    </li>
  </ul>
</div>